    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Menu MaQ'R</a>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Username" aria-label="Username">
            <input class="form-control me-2" type="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-secondary" type="submit">Log In</button>
          </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Jumbotron -->
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Welcome to Menu MaQ'R</h1>
                        <p class="lead">We can help you build a menu and a QR code for your restaurant.</p>
                        <hr class="my-4">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

