
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Jumbotron -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Welcome to Menu MaQ'R</h1>
                    <p class="lead">We can help you build a menu and a QR code for your restaurant.</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../public/js/login.js"></script>