<div class="container">
    <div class="row">

        <!--Menu Created Dashboard-->
        <div class="col-md-12">
            <div class="card">
  			    <div class="card-body">
    			    <h2>Sign Up</h2>
                    
                    <form>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="newPassword">
                        </div>

                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="lasttName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        
    </div>
</div>