<div class="container">
    <div class="row">

        <!--Menu Created Dashboard-->
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h2>Created Menus</h2>
                    <!-- Have handlebars for created menus so they're listed here -->
                    <!-- IMPORTANT **** Update VARIABLES HERE in Handlebars-->
                    {{#each menus}}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h3>{{menuName}}</h3>
                                    <button class="btn btn-outline-secondary" type="submit">Edit Menu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>


        <!-- QR Codes Dashbaord -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>QR Codes</h2>
                    <!-- Have handlebars for created QR's so they're listed here -->
                    <!-- IMPORTANT **** Update VARIABLES HERE in Handlebars-->
                    {{#each qrCodes}}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h3>{{qrCode}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>


    </div>
</div>