@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.navbar-brand {
    font-family: "Hammersmith One", sans-serif;
    font-size: 30px;
    padding-left: 25px;
}

.loginButton {
    width: fit-content;
    white-space: nowrap;
}

.d-flex {
    padding-right: 25px;
}

body {
    background-color: #F6343F;
    color: #F2F2F2;
}

.jumbotron {
    padding-top: 25px;
}

.card-body {
    color: #0D0D0D;
}

.edit-item {
    padding-top: 25px;
}
.menu-items {
    color: #0D0D0D;
}

#chefphoto {
    padding-top: 20px;
    width: 100%;
}
