/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* Elements */

body {
    background-color: #F6343F;
    color: #F2F2F2;
}

nav {
margin-bottom: 20px;
}

/* classes */
.navbar-brand {
    font-family: "Hammersmith One", sans-serif;
    font-size: 30px;
    padding-left: 25px;
}

.hide{
    display: none;
}

.loginButton {
    width: fit-content;
    white-space: nowrap;
}

.d-flex {
    padding-right: 25px;
}


.jumbotron {
    padding-top: 25px;
}

.card-body, .menu-items {
    color: #0D0D0D;
}

.createBtn, .editBtn, .edit-item {
    margin-top: 20px;
}

.menucard, .qrcard {
    margin-bottom: 20px;
}

.dish-name, .price {
    color: #F6343F;
}

.display-4 {
    font-weight: bold;
}

@media screen and  (max-width:767px) {
    .qrmaincard{
        margin-top: 20px;
    }
}

/* ID's */

#chefphoto {
    padding-top: 20px;
    width: 100%;
}


#menus li {
    list-style-type: none;
    margin-left: -25px;
}

#menu {
    text-align: center;
    color: black;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
}

#menu-name {
    color: #F6343F;
    margin-bottom: 20px;
    font-weight: bold;
}

#menu ul {
    list-style-type: none;
}

#menu h1 {
    font-size: 75px;
}

#menu h2 {
    font-size: 50px;
    font-weight: bold;
}

#menu h3 {
    font-size: 25px;
}

#menu h4 {
    font-size: 20px;
    font-weight: lighter;
}

#menu p {
    font-size: 18px;
}
